@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto Mono', monospace;
  background: #000;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container{
  position: relative;
  cursor: pointer;
}

.image-container img{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}


.hearts{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.heart{
  position: absolute;
  width: 100px;
  height: 90px;
  color: #e25555;
  font-size: 80px;
  animation: heartAnimation 0.8s ease-out forwards;
  opacity: 0;
}


@keyframes heartAnimation {
  0% {
    transform: translateY(0) scale(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px) scale(1);
    opacity: 0;
  }
}