@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto+Mono&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(4, 144, 187);
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;    
    align-items: center;    
}

.search{
    position: relative;
}

.search input{
    width: 50px;
    height: 50px;
    border: none;
    padding: 15px;
    font-size: 18px;
    background-color: #fff; transition: width 0.3s ease;
}


.search .btn{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    font-size: 20px;
}

.btn:focus, .input:focus{
    outline: none;
}

.search.active input{
    width: 300px;
}

.search.active .btn{
    left: 250px;
    transition: left 0.4s ease;
}