@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Mulish&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: "Mulish", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    color: white;
}

.container{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 40px;
    border-radius: 10px;
}

.container h2{
    text-align: center;
    margin-bottom: 30px;
    color: white;
}

.btn{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-family: inherit;
    background: lightblue;
    border: none;
    border-radius: 5px;
}

.btn:focus{
    outline: none;
}

.btn:active{
    transform: scale(0.98);
}

.text{
    margin-top: 30px;
    color: white;
}

.form-control{
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.form-control input{
    background-color: transparent;
    border: none;
    border-bottom:2px solid white;
    width: 100%;
    padding: 15px 0;
    display: block;
    font-size: 18px;
    color: white;
}

.form-control input:focus,
.form-control input:valid{
    outline: none;
    border-bottom-color: lightblue;
}

.form-control label{
    position: absolute;
    top: 15px;
    left: 0;
    color: white;
    font-size: 18px;
    pointer-events: none;
}

.form-control label span{
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span{
    color: lightblue;
    transform: translateY(-30px);
}