*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
    height: 100vh;
}
.container{
    display: flex;
    width: 90vh;
}
.box{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5; /* Initial small size */
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in; /* Smoother transition */
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); 
}
.box h3{
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}
.box.active{
    flex:5;
    border-radius: 50px;
}

.box.active h3{
    opacity: 1;
    transition-delay: 0.4s ;

}

@media (max-width:480px)
{
    .container{
        width: 100vw;
    }
    .box:nth-of-type(4), .box:nth-of-type(5){
        display: none;
    }
}